.player
  margin 10px
  padding 15px
  position relative
  color #fb667a
  text-align left
  padding-bottom: 3%;
  padding-top: 3%;
  padding-left: 3%;
  font-weight bold
  box-shadow 2px 4px 2px -2px #0E1119

  &:nth-child(odd)
    background-color #323C50

  &:nth-child(even)
    background-color #2C3446
