@import "../../constants/constants.styl"

.racecourse
  display block

  .time-table
    box-sizing border-box

  .header
    display inline-block
    text-align center
    padding 20px 0 20px 0
    width 80%
    font-size 30px


.races-container
  margin-top 20px

  .race
    display inline-block
    width 25%
    box-sizing border-box
    border 2px solid
